<nav class="user-navbar">
  <div class="logo">💼 MyWallet</div>

  <ul class="nav-links">
    <li routerLink="/user/dashboard" routerLinkActive="active">Home</li>
    <li routerLink="/user/transactions" routerLinkActive="active">Transactions</li>
    <li routerLink="/user/payment" routerLinkActive="active">Payment</li>
    <li routerLink="/user/profile" routerLinkActive="active">Profile</li>
    <li routerLink="/user/settings" routerLinkActive="active">Settings</li>
    <li routerLink="/user/logout" routerLinkActive="active">Log Out</li>
  </ul>

  <div class="user-info"></div>
</nav>
